/* hide title bar and its elements */
#titlebar-secondary-buttonbox,
#titlebar .toolbar-items,
#titlebar .titlebar-spacer,
.private-browsing-indicator,
#toolbar-menubar,
#tabbrowser-tabs {
  display: none;
}

/* Support for Windows */
/*
#TabsToolbar { visibility: collapse !important; }
#sidebar-header { visibility: collapse !important; }
#titlebar { appearance: none !important }
*/

#alltabs-button {
  z-index: 9 !important;
  display: block !important;
  position: relative;
}

/* hide sidebar header */
#sidebar-header {
    display: none;
}

/* merge tabs bar with window controls into address bar */
#TabsToolbar {
  margin-bottom: -34px !important;
}

/* move nav panel in slightly to prevent covering window controls */
#nav-bar-customization-target {
  padding-left: 68px;
}

/* color menu button to mark private browsing windows */
#main-window[privatebrowsingmode="temporary"] #PanelUI-menu-button > .toolbarbutton-badge-stack {
  background-color: #25003E;
}
